.main-wrap {
  background: #B7BED8;
  color: #6A79A6;
  display: inline-block;
  padding: 0em 2em;
  margin: 6em auto;
  box-shadow: 0 50px 50px rgba(0, 0, 0, 0.2);
}
.main-wrap .details__list {
  text-align: left;
}
.main-wrap .details__list ol {
  list-style: none;
  background: #B7BED8;
  position: absolute;
  padding: 30px 0;
  width: 600px;
  z-index: 100;
}
.main-wrap .details__list ol li {
  display: inline-block;
  margin-right: 27px;
  font-size: 0.7em;
  max-width: 50%;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.main-wrap .details__list ol li a {
  color: #fff;
  text-decoration: none;
  position: relative;
  z-index: 2;
  cursor: pointer;
  opacity: 1;
}
.main-wrap .signup--form {
  width: 600px;
  text-align: left;
  margin: 85px 0 0 0;
}
.main-wrap .signup--form .next__page {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  background: url('./utils/images/next-page.svg');
  background-size: contain;
}
.main-wrap .signup--form .next__page:hover {
  background: url('./utils/images/next-pagehover.svg');
  background-size: contain;
}
.main-wrap .signup--form .signup__list {
  list-style: none;
  -webkit-transition: height 0.4s;
  transition: height 0.4s;
  width: 88%;
  display: inline-block;
  height: 80px;
}
.main-wrap .signup--form .signup__list li {
  position: absolute;
  width: 500px;
}
.main-wrap .signup--form .signup__list li span {
  display: block;
  margin-bottom: 10px;
}
.main-wrap .signup--form .signup__list li input {
  width: 100%;
  font-size: 0.9em;
  color: #f2f2f2;
  margin: 0.3em 0 1em 0;
  border: none;
  background: none;
  border-bottom: 3px solid #fff;
  padding: 0.5em 0.1em;
  transition: all 0.5s ease;
}
.main-wrap .signup--form .signup__list li input:focus {
  outline: none;
  border-bottom: 3px solid #6A79A6;
}
.main-wrap .signup--form .signup__list li #show-pwd {
  margin: -2.75em 0em;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0;
  color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}
.main-wrap .signup--form .signup__list li #show-pwd.hide {
  background: url('./utils/images/view.svg');
  background-size: contain;
}
.main-wrap .signup--form .signup__list li #show-pwd.view {
  background: url('./utils/images/hide.svg');
  background-size: contain;
}
.main-wrap .error__message {
  color: rgba(207, 0, 0, 0.56);
  font-size: 14px;
  margin-top: 10px;
  padding-bottom: 30px;
  background: #B7BED8;
}
::-webkit-input-placeholder {
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.7);
}
:-moz-placeholder {
  /* Firefox 18- */
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.7);
}
::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.7);
}
:-ms-input-placeholder {
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.7);
}
